.navbarWrapper{
    width: 95%;
    padding: 1rem;
    background-color: #d9d9d9;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonWrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin-top: 1rem;
}

.buttonWrapper > * {
    margin: 0 10px;
}
